@charset "UTF-8";
.tab-am-content-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.tab-am-content-section .tab-am-content-div {
  padding: 30px 0;
  margin: 0;
  position: relative;
}

.tab-am-content-section .tabs-root-common {
  padding: 10px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: calc(100% - 30px);
}

.tab-am-content-section .tabs-root-common .tabs-header-common {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
}

.tab-am-content-section .tabs-root-common .tabs-header-common .nav-tabs {
  border: none;
  width: 100%;
}

.tab-am-content-section .tabs-root-common .tabs-header-common .nav-tabs .nav-item {
  width: 100%;
}

.tab-am-content-section .tabs-root-common .tabs-header-common .nav-tabs .nav-item .nav-link {
  border-radius: 0;
  background-color: transparent;
  border: none;
  padding: 6px 0;
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #888;
  min-height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-am-content-section .tabs-root-common .tabs-header-common .nav-tabs .nav-item .nav-link.active {
  color: #f91a6c;
}

.tab-am-content-section .tabs-root-common .tabs-body {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 280px);
}

.tab-am-content-section .tabs-root-common .tabs-body .tab-content {
  width: 100%;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h6 {
  font-weight: 700;
  font-size: 16px;
  color: #888;
  letter-spacing: 0;
  line-height: 1.5;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h3 {
  font-weight: 700;
  font-size: 30px;
  color: #888;
  letter-spacing: 0;
  line-height: 1.3;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .text-underline {
  text-decoration: underline;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .text-bold {
  font-weight: 700;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner p {
  font-weight: 400;
  font-size: 16px;
  color: #888;
  letter-spacing: 0;
  line-height: 1.5;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .custom-list01 li {
  font-weight: 400;
  font-size: 16px;
  color: #888;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0 0 0 0;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .list-style-ul {
  position: relative;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .list-style-ul li {
  font-weight: 400;
  font-size: 16px;
  color: #888;
  letter-spacing: 0;
  line-height: 1.5;
  padding-left: 15px;
  position: relative;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .list-style-ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .btn-div-group {
  display: block;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .btn-div-group .link.read-link {
  font-weight: 700;
  font-size: 16px;
  color: #888;
  letter-spacing: 0;
  display: inline-block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .btn-div-group .link.read-link:hover {
  color: #54c801;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .block {
  display: block;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner.max-width-870 {
  max-width: 870px;
  width: 100%;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .img-div .img-responsive {
  width: 100%;
}

.tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .right-side-content {
  padding: 0 0 0 20px;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div {
  width: 100%;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div {
  margin: 0 0 60px 0;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box h4 {
  font-weight: 500;
  font-size: 28px;
  color: #222;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0 0 5px 0;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box p {
  font-size: 14px;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box h4 {
  font-weight: 500;
  font-size: 28px;
  color: #222;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0 0 15px 0;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box p {
  font-size: 14px;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .map-view-inner-div {
  padding: 60px 0 50px 0;
  margin: 0;
  position: relative;
  border-top: 1px solid #e9e9e9;
}

.tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .map-view-inner-div .map-div iframe.map-iframe {
  width: 100%;
  height: 410px;
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .tab-am-content-section .tabs-root-common .tabs-header-common {
    width: 250px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body {
    width: calc(100% - 250px);
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h6 {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h3 {
    font-size: 24px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner p {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .list-style-ul li {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .btn-div-group .link.read-link {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .custom-list01 li {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c30 {
    margin-bottom: 20px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c25 {
    margin-bottom: 15px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c40 {
    margin-bottom: 30px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .right-side-content {
    padding: 5px 0 5px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .mb-c60 {
    margin-bottom: 40px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .mb-c50 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .tab-am-content-section .tab-am-content-div {
    padding: 0;
    margin: 0 0 20px 0;
  }
  .tab-am-content-section .tabs-root-common {
    padding: 5px 0;
    width: 100%;
    max-width: 100%;
  }
  .tab-am-content-section .tabs-root-common .tabs-header-common {
    margin: 0 0 30px 0;
    width: 100%;
  }
  .tab-am-content-section .tabs-root-common .tabs-header-common .nav-tabs .nav-item .nav-link {
    padding: 5px 0;
    margin: 0 0 0 0;
    font-size: 14px;
    min-height: 34px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body {
    width: 100%;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h6 {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner p {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h3 {
    font-size: 24px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .btn-div-group .link.read-link {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .custom-list01 li {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .list-style-ul li {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c30 {
    margin-bottom: 15px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c25 {
    margin-bottom: 10px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c40 {
    margin-bottom: 30px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .right-side-content {
    padding: 5px 0 5px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .img-div {
    margin: 0 0 30px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .mb-c60 {
    margin-bottom: 30px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .mb-c50 {
    margin-bottom: 25px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div {
    margin: 0 0 40px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box h4 {
    font-size: 21px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box p {
    font-size: 12px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .map-view-inner-div {
    padding: 40px 0 30px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box h4 {
    font-size: 21px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tab-am-content-section .tab-am-content-div {
    padding: 0;
    margin: 0 0 20px 0;
  }
  .tab-am-content-section .tabs-root-common {
    padding: 5px 0;
    width: 100%;
    max-width: 100%;
  }
  .tab-am-content-section .tabs-root-common .tabs-header-common {
    width: 190px;
  }
  .tab-am-content-section .tabs-root-common .tabs-header-common .nav-tabs .nav-item .nav-link {
    padding: 5px 0;
    margin: 0 0 0 0;
    font-size: 14px;
    min-height: 34px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body {
    width: calc(100% - 190px);
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h6 {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner p {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner h3 {
    font-size: 24px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .btn-div-group .link.read-link {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .custom-list01 li {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .list-style-ul li {
    font-size: 14px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c30 {
    margin-bottom: 15px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c25 {
    margin-bottom: 15px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .general-text-content-inner .mb-c40 {
    margin-bottom: 30px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .right-side-content {
    padding: 5px 0 5px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div.about-text-content-div .general-text-content-inner .img-div {
    margin: 0 0 30px 0;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .mb-c60 {
    margin-bottom: 40px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .general-text-content-div .mb-c50 {
    margin-bottom: 30px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box h4 {
    font-size: 21px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .form-div .header-div-box p {
    font-size: 12px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box h4 {
    font-size: 21px;
  }
  .tab-am-content-section .tabs-root-common .tabs-body .contact-text-content-div .map-view-div .header-div-box p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=about-us-style.css.map */