footer {
  position: relative;
}

.footer-div {
  padding: 0 0;
  margin: 0;
  position: relative;
  background-color: #fff;
}

.footer-div .footer-logo-row {
  margin: 0 0 40px 0;
}

.footer-div .footer-logo-row .footer-logo-box-root .footer-logo-thumb .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-div .footer-logo-row .footer-logo-box-root .footer-logo-thumb .footer-logo {
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-div .footer-content-row {
  padding: 0 0 0 0;
}

.footer-div .footer-content-row .whatsapp-div {
  padding: 0 20px;
  margin: 0;
  position: relative;
  background: url(../images/background/footer-bg-image-01.png) no-repeat;
  background-position: top right;
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .img-div {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div {
  width: calc(100% - 180px);
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 24px;
  color: #555;
  letter-spacing: 0;
  line-height: 46px;
  padding: 10px 0 8px 0;
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .icon-span {
  color: #37aa56;
  font-size: 36px;
  margin: 0 10px 0 0;
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .text-light-wa {
  font-weight: 400;
  font-size: 24px;
  color: #555;
  letter-spacing: 0;
  line-height: 46px;
  font-family: "Montserrat", sans-serif;
  margin: 0 8px 0 0;
}

.footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .link.whatsapp-link {
  font-family: "Montserrat", sans-serif;
  color: inherit;
  font-weight: 700;
}

.footer-div .footer-content-row .color-footer-row {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #54c801;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-div .footer-copyright-div {
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  max-width: 1170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-div .footer-copyright-div .footer-left-cp-div {
  padding: 10px 0;
}

.footer-div .footer-copyright-div .footer-left-cp-div p {
  font-weight: 500;
  font-size: 13px;
  color: #bfbfbf;
  line-height: 18px;
  display: inline-block;
}

.footer-div .footer-copyright-div .footer-left-cp-div p a {
  color: inherit;
}

.footer-div .footer-copyright-div .footer-right-cp-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.footer-div .footer-copyright-div .footer-right-cp-div p {
  font-weight: 500;
  font-size: 16px;
  color: #888;
  letter-spacing: 0;
  margin: 0;
}

.footer-div .footer-copyright-div .footer-right-cp-div p a {
  color: inherit;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-div .footer-copyright-div .footer-right-cp-div p a:hover {
  color: #555;
}

.footer-div .footer-copyright-div .footer-right-cp-div p span.vline {
  color: #e6e6e6;
  padding: 0 15px;
  display: inline-block;
}

.footer-div .footer-copyright-div .footer-right-cp-div .social-icon-div-root {
  padding: 0 0 0 50px;
}

.footer-div .footer-copyright-div .footer-right-cp-div .social-icon-div-root .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  color: #818892;
}

@media (max-width: 767px) {
  .footer-div .footer-content-row .whatsapp-div {
    background-position: 70%;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .img-div {
    width: 80px;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .img-div .img-fluid {
    width: 80px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div {
    width: calc(100% - 80px);
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box {
    font-size: 14px;
    line-height: 26px;
    padding: 0;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .icon-span {
    font-size: 24px;
    margin: 0 5px 0 0;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .text-light-wa {
    font-size: 14px;
    line-height: 24px;
    margin: 0 8px 0 0;
  }
  .footer-div .footer-content-row .color-footer-row {
    min-height: 30px;
  }
  .footer-div .footer-copyright-div .footer-left-cp-div {
    width: 100%;
    padding-bottom: 0;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div p {
    font-size: 10px;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div p span.vline {
    padding: 0 5px;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div .social-icon-div-root .social-link {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-div .footer-content-row .whatsapp-div {
    background-position: 70%;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .img-div {
    width: 80px;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .img-div .img-fluid {
    width: 80px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div {
    width: calc(100% - 80px);
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box {
    font-size: 14px;
    line-height: 26px;
    padding: 0;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .icon-span {
    font-size: 24px;
    margin: 0 5px 0 0;
  }
  .footer-div .footer-content-row .whatsapp-div .whatsapp-left-div .wh-app-div .link-box .text-light-wa {
    font-size: 14px;
    line-height: 24px;
    margin: 0 8px 0 0;
  }
  .footer-div .footer-content-row .color-footer-row {
    min-height: 30px;
  }
  .footer-div .footer-copyright-div {
    min-height: 42px;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div p {
    font-size: 10px;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div p span.vline {
    padding: 0 5px;
  }
  .footer-div .footer-copyright-div .footer-right-cp-div .social-icon-div-root .social-link {
    font-size: 12px;
  }
}
/*# sourceMappingURL=footer.css.map */